<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h2>Hello <%= @user.name %>!!</h2>

    <b>
      <%= @message_txt %>
    </b>

    <p>Thanks for subscribing for updates!</p>
  </body>
</html>
